<h3>Step 1 - Authenticate</h3>

<p>To change your password, you can either authenticate using your current password OR via phone verification.</p>

<p><strong>Authentication State: {{state}}</strong></p>

<form id="ldapAuthForm">
    <table id="ldapAuthFormTable" class="formTable" ng-show="!showDigits">
        <tr>
            <td colspan="2">
                <h3>Who are you?</h3>
            </td>
        </tr>
        <tr>
            <td>UID or Email</td>
            <td><input class="inp-large" id="ldapAuthUID" type="text" ng-model="uidOrEmail" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Know your current password?</h3>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input class="inp-medium" id="ldapAuthPassword" type="password" ng-model="password" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="ldapAuthUsePassButton" type="button" value="Log In" ng-click="usePassword()" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>Forgot your password? Auth by phone!</h3>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="ldapAuthUsePhoneButton" type="button" value="Auth By Phone" ng-click="usePhoneCall()" />
            </td>
        </tr>
    </table>
</form>

<div ng-show="showDigits">
    <p>Verification Digits:</p>
    <h3>{{verificationDigits}}</h3>
    <p>Entered Digits:</p>
    <h3>{{enteredDigits}}</h3>
</div>