<h3>Step 2 - New Password</h3>

<p>You may now set a new password for your THogan.com account.</p>

<p><strong>Password Reset State: {{state}}</strong></p>

<form id="setPasswordForm" ng-show="!isComplete">
    <table id="setPasswordFormTable" class="formTable">
        <tr>
            <td>New Password</td>
            <td><input id="setPasswordPassword" class="inp-medium" type="password" ng-model="password" /></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input id="setPasswordConfirm" class="inp-medium" type="password" ng-model="confirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input id="setPasswordSetButton" type="button" value="Set Password" ng-click="setPassword()" />
            </td>
        </tr>
    </table>
</form>